*{
    margin: 0;
    padding: 0;
}




section{
    margin: 20px ;
    width: 300px;
    position: relative;
}
.red{
    color: #cf2c2c;
}
.blue{
    color: #2c6ccf;
}
.green{
    color:#309e0e;
}
.orange{
    color:#cd661a;
}
h2{
    margin-left: 40px;
    
}
h3{
    margin: 20px;
    padding: 20px;
    border-bottom: 2px solid #888383;
}

.blue::after{
    content: "";
    position:absolute;
    background-color: #2c6ccf;
    width: 120px;
    height: 2px;
    top: 109px;
    left: 20px;
    
}

.circle .blue::before{
    content: "";
    position: absolute;
    background-color: #2c6ccf;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: calc(109px - (15px /2));
    left: 20px;

}
.Box .blue::before{
    content: "";
    position: absolute;
    background-color: #2c6ccf;
    width: 15px;
    height: 15px;
    top: calc(109px - (15px /2));
    left: 20px;

}
.triangle-up .blue::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #2c6ccf transparent;
    width: 0px;
    height: 0px;
    top: calc(109px - (20px));
    left: 20px;

}
.triangle-down .blue::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-color: #2c6ccf transparent transparent transparent;
    width: 0px;
    height: 0px;
    top: calc(109px + (1px));
    left: 20px;

}

.red::after{
    content: "";
    position:absolute;
    background-color: #cf2c2c;
    width: 120px;
    height: 2px;
    top: 193px;
    left: 20px;
    
}
.circle .red::before{
    content: "";
    position: absolute;
    background-color: #cf2c2c;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: calc(193px - (15px /2));
    left: 20px;

}
.Box .red::before{
    content: "";
    position: absolute;
    background-color: #cf2c2c;
    width: 15px;
    height: 15px;
    top: calc(193px - (15px /2));
    left: 20px;

}
.triangle-up .red::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #cf2c2c transparent;
    width: 0px;
    height: 0px;
    top: calc(193px - (20px));
    left: 20px;

}
.triangle-down .red::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-color: #cf2c2c transparent transparent transparent;
    width: 0px;
    height: 0px;
    top: calc(193px + (1px));
    left: 20px;

}

.green::after{
    content: "";
    position:absolute;
    background-color: #309e0e;
    width: 120px;
    height: 2px;
    top: 277px;
    left: 20px;
    
}
.circle .green::before{
    content: "";
    position: absolute;
    background-color: #309e0e;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: calc(277px - (15px /2));
    left: 20px;

}
.Box .green::before{
    content: "";
    position: absolute;
    background-color: #309e0e;
    width: 15px;
    height: 15px;
    top: calc(277px - (15px /2));
    left: 20px;

}
.triangle-up .green::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #309e0e transparent;
    width: 0px;
    height: 0px;
    top: calc(277px - (20px));
    left: 20px;

}
.triangle-down .green::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-color: #309e0e transparent transparent transparent;
    width: 0px;
    height: 0px;
    top: calc(277px + (1px));
    left: 20px;

}

.orange::after{
    content: "";
    position:absolute;
    background-color: #cd661a;
    width: 120px;
    height: 2px;
    top: 361px;
    left: 20px;
    
}
.circle .orange::before{
    content: "";
    position: absolute;
    background-color: #cd661a;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: calc(361px - (15px /2));
    left: 20px;

}
.Box .orange::before{
    content: "";
    position: absolute;
    background-color: #cd661a;
    width: 15px;
    height: 15px;
    top: calc(361px - (15px /2));
    left: 20px;

}
.triangle-up .orange::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #cd661a transparent;
    width: 0px;
    height: 0px;
    top: calc(361px - (20px));
    left: 20px;

}
.triangle-down .orange::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-color: #cd661a transparent transparent transparent;
    width: 0px;
    height: 0px;
    top: calc(361px + (1px));
    left: 20px;

}
